@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.duy_border {
    font-family: 'Oswald', sans-serif !important;
}

.duy_border h4 {
    padding-top: 20px;
}


/* SLIDER */


/* SLIDER */


/* SLIDER */

.duy_slider {
    /* height: 100%; */
    background-color: #6f6d72;
}

.duy_main {
    background-color: #6f6d72;
}

.duy_border .news-grid {
    width: 100%;
    position: relative;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid rgb(10, 10, 10);
    /*box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.16);*/
    margin: 10px;
}

.duy_main .news-grid {
    width: 85%;
    height: 95%;
}

.duy_main .all:hover {
    color: aquamarine;
}

.duy_main .all {
    padding-top: 20px;
}

.duy_border .news-grid-image {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.duy_border .news-grid-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: .5s;
}

.duy_border .news-grid-box {
    display: block;
    position: absolute;
    text-align: center;
    background: #26ccca;
    left: -80px;
    top: 15px;
    padding: 10px;
    transition: .5s;
}

.duy_border .news-grid-txt {
    padding: 20px;
}

.duy_border .news-grid-txt span {
    color: #26ccca;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.duy_border .news-grid-txt h2 {
    color: #111;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0px 0px 5px 0px;
}

.duy_border .news-grid-txt h6 {
    color: #6f6d72;
    padding-bottom: 5px;
}

.duy_border .news-grid-txt h2 {
    font-size: 15px;
    height: 20px;
    text-overflow: ellipsis !important;
    white-space: nowrap;
    overflow: hidden !important;
}

.duy_border .news-grid-txt h6 {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.duy_border .news-grid-txt p {
    color: #222;
    font-size: 14px;
    font-weight: 300;
    line-height: 170%;
    letter-spacing: 1.5px;
    border-bottom: 1px solid #ececec;
    padding-bottom: 15px;
    margin-bottom: 25px;
}

.duy_border .news-grid-txt .title1 {
    text-decoration: none;
}

.duy_border .news-grid-txt .title1 h2:hover {
    color: #26ccca !important;
}

.duy_border .news-grid-txt .title {
    color: #fff;
    background: #26ccca;
    padding: 8px 20px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 1px;
    text-decoration-line: none;
    transition: .5s;
}


/*Hover-Section*/

.duy_border .news-grid:hover .news-grid-box {
    left: 15px;
    transition: .5s;
}

.duy_border .news-grid:hover .news-grid-image img {
    filter: grayscale(1);
    transform: scale(1.1);
    transition: .5s;
}

.duy_border .news-grid:hover .news-grid-txt .title {
    text-decoration-line: none;
    color: #fff;
    letter-spacing: 2px;
    transition: .5s;
}


/*OWL*/

.duy_border .owl-controls .owl-buttons {
    position: relative;
}

.duy_border .owl-controls .owl-prev {
    position: absolute;
    left: 12px;
    bottom: 230px;
    padding: 8px 17px;
    background: #26ccca;
    border-radius: 50px;
    transition: .5s;
}

.duy_border .owl-controls .owl-next {
    position: absolute;
    right: 15px;
    bottom: 230px;
    padding: 8px 17px;
    background: #26ccca;
    border-radius: 50px;
    transition: .5s;
}

.duy_border .owl-controls .owl-prev:after,
.duy_border .owl-controls .owl-next:after {
    content: '\f104';
    font-family: FontAwesome;
    color: #fff;
    font-size: 16px;
}

.duy_border .owl-controls .owl-next:after {
    content: '\f105';
}

.duy_border .owl-controls .owl-prev:hover,
.duy_border .owl-controls .owl-next:hover {
    background: #000;
}


/* RESPOSIVE */

@media (min-width:576px) {
    .duy_border .col-sm-4 {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }
    .duy_main .col-sm-3 {
        max-width: 100% !important;
        overflow-y: hidden !important;
    }
}

@media (min-width:768px) {
    .duy_border .col-md-3 {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }
    .duy_main .col-md-3 {
        max-width: 100% !important;
        overflow-y: hidden !important;
    }
}

@media (min-width:992px) {
    .duy_border .col-lg-3 {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }
}

.duy_border .duy_slider .col-12 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.duy_border .col-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px !important;
    padding: 2px !important;
}

@media (max-width:990px) {
    .duy_border .duy_main .news-grid-txt {
        padding: 8px;
    }
    .duy_border .news-grid-txt h2 {
        font-size: 15px;
        height: 20px;
        text-overflow: ellipsis !important;
        white-space: nowrap;
        overflow: hidden !important;
    }
    .duy_border .news-grid-txt h6 {
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .duy_border .news-grid-txt .title {
        font-size: 10px;
    }
}


/* END RESPONSIVE */


/* END SLIDER */


/* END PRODUCT */